.joke-button {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 24px;
}

.joke {
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 66%;
  border: solid #449 5px;
  outline: 5px solid #0aEE00;
  outline-offset: 7px;
}