@font-face {
  font-family: 'bitwise';
  src: local('bitwise'), url('bitwise.ttf');
}

.app {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.joke-button {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 12px;
  padding-left: 17px;
  font-family: 'Bitwise';
  font-size: 2rem;
}
.joke-button:focus {
  outline: none;
}

.joke {
  padding: 10px;
  margin: auto;
  margin-bottom: 24px;
  width: 66%;
  background-color: rgba(255, 183, 0, 1);
  border: solid #449 7px;
  outline: 5px solid #0aEE00;
  outline-offset: 7px;
  font-family: 'courier';
  font-weight: 800;
}

.githubDiv {
  align-self: left;
  width: 70px;
  transform: rotate(180deg);
  rotate: x 180deg;
  margin-top: 12px;
  margin-bottom: 12px;
}

a:link {
  padding: 5px;
  padding-bottom: 7px;
  color: #12190e;
  background-color: rgba(255, 183, 0, 0.12);
  border-radius: 9999px;
  text-decoration: none;
}
a:visited {
  color: #12190e;
}
a:hover {
  background-color: rgba(255, 183, 0, 1);
}
a:active {
  background-color: rgba(255, 183, 0, 0.9);
}
a:focus {
  outline: none;
}